<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headContent">
    <meta charset="UTF-8">
    <title>Unvalorank</title>
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
</head>
    <body class="why">

    <nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand">UnValorank</span>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navBarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : '' }">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/login' ? 'active' : '' }"
                    th:if="${#authentication.getName().equals('anonymousUser')}">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/register' ? 'active' : '' }"
                    th:if="${#authentication.getName().equals('anonymousUser')}">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/interiorrank' ? 'active' : '' }"
                    th:if="${!#authentication.getName().equals('anonymousUser')}">
                    <a class="nav-link" th:href="@{/interiorrank}">Rank set</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/showrankname' ? 'active' : '' }"
                    th:if="${!#authentication.getName().equals('anonymousUser')}">
                    <a class="nav-link" th:href="@{/showrankname}">Leaderboard</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="col-12 text-center">
        <h1>UnValorank</h1>

    </div>


    <!--make the image smaller-->

    <footer th:fragment="foot" class="text-center">
        Copyright @2020 Valdemar Martinez CS-321-1

    </footer>

    <div th:fragment="scripts">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
    </div>
    </body>
</html>