/*this is empty for now but will be filled in soon! */

span.validationError {
    color: #ff0000;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#theranker{
    background-color: #5D6D7E;
}
