/*this is empty for now but will be filled in soon! */

span.validationError {
    color: #ff0000;
}

.why{
    background-color: #5D6D7E;
    height: 700px;
}
.anotherwhy{
    background-color: #5D6D7E;
    height: 700px;
}
a:link{
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: coral;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
}

a:active{
    color: turquoise;
    text-decoration: none;
}

#theranker{
    background-color: #5D6D7E;
}
