<!DOCTYPE html>
<html lang="en"
xmlns ="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exact Rank</title>
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<a href=""></a>
    </div>
    <div class="text-center">
        <h1>Select Your Current Rank</h1>
    <img th:src="@{images/VALORANT_ICONS_2.jpg}" class="img-fluid" alt=""/>
    </div>
    <h2 class="text-center">Declare your current rank</h2>
    <!--future plan is to cut out the individual "medals" for each rank and put them alongside
     their corresponding rank-->
    <form method="post" action=""th:object="${rankName}">
        <span class="validationError"
              th:if="${#fields.hasErrors('ranks')}"
        th:errors="*{ranks}">Rank Error</span>
        <div class="container">
            <div class="row">
            <div class="row">
                <div class="col">
                    <div class="row-3" id="unrated">
                        <div th:each="rank : ${unrated}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-3" id="iron">
                        <div th:each="rank : ${iron}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-3" id="bronze">
                        <div th:each="rank : ${bronze}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-3" id="silver">
                        <div th:each="rank : ${silver}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-3" id="gold">
                        <div th:each="rank : ${gold}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-3" id="platinum">
                        <div th:each="rank : ${platinum}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-3" id="diamond">
                        <div th:each="rank : ${diamond}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-3" id="immortal">
                        <div th:each="rank : ${immortal}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-3" id="radiant">
                        <div th:each="rank : ${radiant}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <label for="ign">What is your in game name?</label>
            <input type="text" th:field="*{name}" id="ign"/>
            <span class="validationError"
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}">Name Error</span>
            <br/><br/>
            <div>
                <label for="gamesPlayed">Roughly how many games have you played?</label>
                <input type="text" th:field="*{gamesPlayed}" id="gamesPlayed"/>
                <span class="validationError" th:if="${#fields.hasErrors('gamesPlayed')}"
                      th:errors="*{gamesPlayed}">Games Played error</span><br/><br/>
            </div>
            <div>
                <label for="gamesWon">In the last ten games how many have you won?</label>
                <input type="text" th:field="*{lastTenGameW}" id="gamesWon"/>
                <span class="validationError" th:if="${#fields.hasErrors('lastTenGameW')}"
                      th:errors="*{lastTenGameW}">Ten Games Played error</span><br/><br/>
            </div>

            <button>Submit your current rank!</button>
        </div>

            <a th:href="@{/showrankname}">See where you are currently ranked!</a>

    </form>
    <!--I thought I had to do this code three times but when I rank the first one
     all my items were here NICE!-->





</body>
</html>