<!DOCTYPE html>
<html lang="en"
xmlns ="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/base :: headContent"></head>
<body class="why">

<div th:replace="fragments/base :: navigation"></div>


    <div class="text-center">
        <h1>Select Your Current Rank</h1>
    <img class="img-fluid col-md-12 col-sm-8" th:src="@{images/VALORANT_ICONS_2.jpg}" alt=""/>
    </div>
    <h2 class="text-center">Declare your current rank</h2>

    <form method="post" action=""th:object="${rankName}">
        <span class="validationError"
              th:if="${#fields.hasErrors('ranks')}"
        th:errors="*{ranks}">Rank Error</span>
        <div class="container">

            <div class="row">
                <div class="col">
                    <div class="row-3" id="unrated">
                        <div th:each="rank : ${unrated}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-3" id="iron">
                        <div th:each="rank : ${iron}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-3" id="bronze">
                        <div th:each="rank : ${bronze}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-3" id="silver">
                        <div th:each="rank : ${silver}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-3" id="gold">
                        <div th:each="rank : ${gold}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-3" id="platinum">
                        <div th:each="rank : ${platinum}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-3" id="diamond">
                        <div th:each="rank : ${diamond}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-3" id="immortal">
                        <div th:each="rank : ${immortal}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row-3" id="radiant">
                        <div th:each="rank : ${radiant}">
                            <input name="ranks" type="radio" th:value="${rank.id}"/>
                            <span th:text="${rank.name}">RANK</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row form-group justify-content-start">
            <label class="col-form-label col-2  font-weight-bold" for="ign">What is your in game name?</label>
            <input class="form-control col-5 col-md-2" type="text" th:field="*{name}" id="ign"/>
            <span class="validationError"
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}">Name Error</span>
            </div>
            <br/><br/>

            <div class="row form-group justify-content-start">
                <label class="col-form-label col-2 font-weight-bold" for="gamesPlayed">Roughly how many games have you played?</label>
                <input class="form-control col-5 col-md-2" type="text" th:field="*{gamesPlayed}" id="gamesPlayed"/>
                <span class="validationError" th:if="${#fields.hasErrors('gamesPlayed')}"
                      th:errors="*{gamesPlayed}">Games Played error</span><br/><br/>
            </div>
            <div class="row form-group justify-content-start">
                <label class="col-form-label col-2 font-weight-bold" for="gamesWon">In the last ten games how many have you won?</label>
                <input class="form-control col-5 col-md-2" type="text" th:field="*{lastTenGameW}" id="gamesWon"/>
                <span class="validationError" th:if="${#fields.hasErrors('lastTenGameW')}"
                      th:errors="*{lastTenGameW}">Ten Games Played error</span><br/><br/>
            </div>

            <div class="row form-group justify-content-start">
            <button class="btn btn-outline-info btn-lg">Submit your current rank!</button>
            </div>
        </div>

   <!--         <a th:href="@{/showrankname}">See where you are currently ranked!</a>-->

    </form>
    <!--I thought I had to do this code three times but when I rank the first one
     all my items were here NICE!-->
    <div th:replace="fragments/base :: foot"></div>

    <div th:replace="fragments/base :: scripts"></div>



</body>
</html>