<!DOCTYPE html>
<html lang="en"
      xmlns ="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/base :: headContent"></head>
<body class="why">
<div th:replace="fragments/base :: navigation"></div>
    <div class="text-center">
    <h1>Login for Unvalorank</h1>

    <img class="img-fluid" th:src="@{images/homeimg.jpg}" alt=""/>
    </div>



    <div th:if="${error}">
        Unable to login . Check your username and password.
    </div>
    <div class="text-center">
        <p>New here? Click <a th:href="@{/register}">here</a> to register.</p>

        <form class="container-fluid" method="post" th:action="@{/login}" id="LoginForm">
            <div class="row form-group justify-content-center">
            <span class="validationError" th:if="${param.error}">Username Error</span>
            <label class="col-form-label col-2 text-right font-weight-bold" for="username">Username:</label>
            <input class="form-control col-5 col-md-2" type="text" th:name="username" id="username"/><br/><br/>
            </div>
            <div class="row form-group justify-content-center">
            <span class="validationError" th:if="${param.error}">Password Error</span>
            <label class="col-form-label col-2 text-right font-weight-bold" for="password">Password:</label>
            <input class="form-control col-5 col-md-2" type="password" th:name="password" id="password"/><br/><br/>
            </div>

            <div class="row form-group justify-content-center">
                <span class="col-6 col-md-3"></span>
                <input class="col-1 form-control" type="submit" th:value="Login">
            </div>
        </form>
    </div>

    <div th:replace="fragments/base :: foot"></div>
    <div th:replace="fragments/base :: scripts"></div>
</body>
</html>