<!DOCTYPE html>
<html lang="en"
      xmlns ="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unvalorank Login</title>
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">

</head>
<body class="why">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand">UnValorank</span>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navBarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : '' }">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/login' ? 'active' : '' }"
                th:if="${#authentication.getName().equals('anonymousUser')}">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/register' ? 'active' : '' }"
                th:if="${#authentication.getName().equals('anonymousUser')}">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/interiorrank' ? 'active' : '' }"
                th:if="${!#authentication.getName().equals('anonymousUser')}">
                <a class="nav-link" th:href="@{/interiorrank}">Rank set</a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/showrankname' ? 'active' : '' }"
                th:if="${!#authentication.getName().equals('anonymousUser')}">
                <a class="nav-link" th:href="@{/showrankname}">Leaderboard</a>
            </li>
        </ul>
    </div>
</nav>

    <div class="text-center">
    <h1>Login for Unvalorank</h1>

    <img class="img-fluid" th:src="@{images/homeimg.jpg}" alt=""/>
    </div>



    <div th:if="${error}">
        Unable to login . Check your username and password.
    </div>
    <div class="text-center">
        <p>New here? Click <a th:href="@{/register}">here</a> to register.</p>

        <form class="container-fluid" method="post" th:action="@{/login}" id="LoginForm">
            <div class="row form-group justify-content-center">
            <span class="validationError" th:if="${param.error}">Username Error</span>
            <label class="col-form-label col-2 text-right font-weight-bold" for="username">Username:</label>
            <input class="form-control col-5 col-md-2" type="text" th:name="username" id="username"/><br/><br/>
            </div>
            <div class="row form-group justify-content-center">
            <span class="validationError" th:if="${param.error}">Password Error</span>
            <label class="col-form-label col-2 text-right font-weight-bold" for="password">Password:</label>
            <input class="form-control col-5 col-md-2" type="password" th:name="password" id="password"/><br/><br/>
            </div>

            <div class="row form-group justify-content-center">
                <span class="col-6 col-md-3"></span>
                <input class="col-1 form-control" type="submit" th:value="Login">
            </div>
        </form>
    </div>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>