<!DOCTYPE html>
<html lang="en"
      xmlns ="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/base :: headContent"></head>
<body class="why">
    <div th:replace="fragments/base :: navigation"></div>
    <div class="text-center">
        <h1>Register for Unvalorank</h1>
        <img class="img-fluid col-md-12 col-sm-8" th:src="@{images/homeimg.jpg}" alt=""/>


        <form class="mr-lg-5" method="post" th:action="@{/register}" th:object="${registrationForm}">
            <div class="row form-group justify-content-center">
            <label class="col-form-label col-2 text-right font-weight-bold" for="username">Username:</label>
            <input class="form-control col-5 col-md-2" type="text" th:name="username" th:value="*{username}" id="username">
            <span class="validationError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span><br/><br/>
            </div>

            <div class="row form-group justify-content-center">
            <label class="col-form-label col-2 text-right font-weight-bold" for="password">Password:</label>
            <input class="form-control col-5 col-md-2" type="password" th:name="password" th:value="*{password}" id="password">
            <span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span><br/><br/>
            </div>

            <div class="row form-group justify-content-center">
            <label class="col-form-label col-2 text-right font-weight-bold" for="name">Name:</label>
            <input class="form-control col-5 col-md-2" type="text" th:name="fullName" th:value="*{fullName}" id="name">
            <span class="validationError" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name Error</span><br/><br/>
            </div>

            <div class="row form-group justify-content-center">
            <label class="col-form-label col-2 text-right font-weight-bold" for="email">Email:</label>
            <input class="form-control col-5 col-md-2" type="text" th:name="email" th:value="*{email}" id="email">
            <span class="validationError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span><br/><br/>
            </div>

            <div class="row form-group justify-content-center">
            <label class="col-form-label col-2 text-right font-weight-bold" for="city">City:</label>
            <input class="form-control col-5 col-md-2" type="text" th:name="city" th:value="*{city}" id="city">
            <span class="validationError" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City Error</span><br/><br/>
            </div>

            <div class="row form-group justify-content-center">
            <label class="col-form-label col-2 text-right font-weight-bold" for="state">State:</label>
            <input class="form-control col-5 col-md-2" type="text" th:name="state" th:value="*{state}" id="state">
            <span class="validationError" th:if="${#fields.hasErrors('state')}" th:errors="*{state}">State Error</span><br/><br/>
            </div>

            <div class="row form-group justify-content-center">
                <span class="col-6 col-md-3"></span>
                <input class="col-1" type="submit" value="Register"><br/>
            </div>
        </form>
    </div>

    <div th:replace="fragments/base :: foot"></div>
    <div th:replace="fragments/base :: scripts"></div>
</body>
</html>