<!DOCTYPE html>
<html lang="en"
      xmlns ="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/base :: headContent"></head>
<body>

        <div th:replace="fragments/base :: navigation"></div>

    <h3 class="text-center" th:text="${'Hello ' + username}"></h3>

    <button><a href="/logout">Logout</a></button>
    <div id="theranker">
    <div class="text-center">

        <h1>UnValorank</h1>
        <img th:src="@{images/phoenixjett.jpg}" class="img-fluid" alt="">
    </div>
    </div>
    <table class="table table-dark">
        <thead>
        <tr>
            <th>Id</th>
            <th>In Game Name</th>
            <th>Rank</th>
            <th>Games Played</th>
            <th>Wins in Last Ten Games</th>
        </tr>
        </thead>

    <tr th:each="RankName : ${showrn}">

        <td th:text="*{RankName.id}"> show ID</td>
        <td th:text="*{RankName.name}">IGN</td>
        <td th:text="*{RankName.ranks.name}">rank</td>
        <td th:text="*{RankName.gamesPlayed}">games played</td>
        <td th:text="*{RankName.lastTenGameW}">Wins in last ten games</td>
    <!--
        could be a way of showing the rankings just need to add values to specific ranks
    -->
    </tr>


    </table>

    <h2 class="text-center">Your rank History</h2>
    <table class="table table-dark">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Games Played</th>
            <th>Wins in Last Ten Games</th>
        </tr>
        </thead>
        <tr th:each="RankName : ${indUser}">
            <td th:text="${RankName.ranks.name}"></td>
            <td th:text="${RankName.gamesPlayed}"></td>
            <td th:text="${RankName.lastTenGameW}"></td>
        </tr>
    </table>
        <div th:replace="fragments/base :: foot"></div>
        <div th:replace="fragments/base :: scripts"></div>
</body>
</html>