<!DOCTYPE html>
<html lang="en"
      xmlns ="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/base :: headContent"></head>
<body class="why" style="background-color: #5D6D7E;">

    <div th:replace="fragments/base :: navigation"></div>

    <h1 style="text-align: center">Unofficial Valorant Ranker</h1>
    <br/>
    <div class="text-center">
    <img class="img-fluid" th:src="@{/images/defy.jpg}" alt=""/>
    </div>
    <h1 style="text-align: center">Thank you for your submission</h1>

    <div th:replace="fragments/base :: foot"></div>
    <div th:replace="fragments/base :: scripts"></div>
</body>
</html>